html, body {
    margin: 0;
    height: 100%;
}

body {
  background-color: #849483;
}

.prize-container {
  width: 100%;
}

.prize {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 450px;
  height: 450px;
  z-index: 15;
  background-size: 450px 450px;
}

#coffee {
  display: none;
  background-image: url('http://res.freestockphotos.biz/pictures/16/16178-illustration-of-a-cup-of-coffee-pv.png');
}

#tea {
  display: none;
  //background-image: url('http://pngimg.com/upload/cup_PNG1961.png');
    background-image: url('https://img.clipartfox.com/3b223e27b13935f50b693612a1182136_cup-of-tea-png-clipart-cup-of-tea-clipart_4000-2708.png');
}

#espresso {
  display: none;
  background-image: url('https://www.nespresso.com/ecom/medias/sys_master/public/9501752754206/A-0070-glassEspresso-mediaMain.png');
}

.title {
  background-color: black;
  height: 50px;
  width: 100%;
  margin-bottom: 50px;
  margin-top: -15px;
}

.main-title {
  margin-top: 15px;
  color: white;
  font-size: 30px;
  font-family: 'Electrolize', sans-serif;
  text-align: center;
  line-height: 50px;
}

.slot-body {
  height: 500px;
  width: 100%;
  background-color: black;
  margin: 0 auto;
  text-align: center;
}

.reel-container {
  display: inline-block;
  margin-bottom: 20px;
}

.reel {
  display: inline-block;
  margin: 40px 15px 0 15px;
  font-size: 40px;
  font-family: 'Electrolize', sans-serif;
  overflow: hidden;
  width: 200px;
  height: 200px;
  border: 4px solid white;
}

.reel-tile {
  height: 200px;
  width: 200px;
  background-color: #C7F2A7;
  text-align: center;
  display: table; 
}

.reel-title {
  text-align:center; 
  vertical-align: middle;
  display: table-cell; 
}

.reel .wrapper{
  margin-top: -6px;
  width: 100px;
}

#status {
  font-family: 'Electrolize', sans-serif;
  background-color: #C7F2A7;
  text-align: center;
  margin: 20px auto;
  width: 600px;
}

.button-container {
  height: 100px;
  width: 100%;
  text-align: center;
}

.slot-button {
  margin: 0 auto;
  display: block;
  height: 100px;
  width: 200px;
  background-color: #B4656F;
  font-size: 25px;
  font-family: 'Electrolize', sans-serif;
  cursor: pointer;
}

@media (max-width: 736px) {

  .slot-body {
    height: 350px;
  }
  
  .main-title {
    font-size: 20px;
  }

  .title {
    margin-bottom: 10px;
  }

  .slot-button {
    height: 50px;
    width: 100px;
  }

  .reel {
    margin-top: 10px;
    width: 148px;
    font-size: 30px;
  }

  .reel-tile {
    width: 150px;
  }

  #status {
    margin: -40px 0 0 0;
    width: 100%;
    font-size: 20px;
  }

  .prize {
    height: 250px;
    width: 250px;
    background-size: 250px 250px;
  }
}

@media (max-width: 414px) {

  .main-title {
    font-size: 18px;
  }

  .thumbtack-logo {
      height: 20px;
    }

  .title {
    margin-bottom: 30px;
  }

  .slot-body {
    height: 375px;
  }

  .slot-button {
    height: 100px;
    width: 150px;
  }

  #status {
    margin: 40px 0 0 0;
    width: 100%;
    font-size: 20px;
  }

  .reel {
    margin: 40px 0 0 0;
    width: 96px;
    font-size: 15px;
  }

  .reel-tile {
    width: 100px;
  }
}

@media (max-height: 320px) {
  .title {
    margin-bottom: 0;
  }
}
