html, body {
    margin: 0;
    height: 100%;
}

body {
  background-color: #849483;
}

.prize {
  position: absolute;
  width: 400px;
  height: 400px;
  z-index: 15;
  top: 7%;
  left: 50%;
  background-size: 400px 400px;
  margin: 0 0 0 -200px;
}

#coffee {
  display: none;
  background-image: url('http://res.freestockphotos.biz/pictures/16/16178-illustration-of-a-cup-of-coffee-pv.png');
}

#tea {
  display: none;
  background-image: url('http://pngimg.com/upload/cup_PNG1961.png');
}

#espresso {
  display: none;
  background-image: url('https://www.nespresso.com/ecom/medias/sys_master/public/9501752754206/A-0070-glassEspresso-mediaMain.png');
}

.title {
  background-color: black;
  height: 50px;
  width: 100%;
  margin-bottom: 50px;
  margin-top: -15px;
}

.main-title {
  margin-top: 15px;
  color: white;
  font-size: 20px;
  font-family: Helvetica;
  text-align: center;
}

.sub-title {
  text-align: center;
  color: white;
  margin-top: -10px;
}

.slot-body {
  height: 500px;
  width: 1000px;
  background-color: black;
  margin: 0 auto;
  z-index: 10;
}

.reel-container {
  margin-left: 250px;
  display: inline-block;
}

.reel {
  display: inline-block;
  margin: 140px 15px 0 15px;
  font-size: 40px;
  font-family: arial, helvetica, sans-serif;
  overflow: hidden;
  width: 200px;
  height: 200px;
  border: 2px solid white;
}

.reel-tile {
  height: 200px;
  width: 200px;
  background-color: #C7F2A7;
  text-align: center;
  display: table; 
}

.reel-title {
  text-align:center; 
  vertical-align: middle;
  display: table-cell; 
}

.reel .wrapper{
  margin-top: -6px;
  width: 100px;
}

#status {
  background-color: #948392;
  text-align: center;
  margin: 20px auto;
  width: 600px;
}

.button-container {
  float: left;
  height: 500px;
  position: absolute;
  width: 300px;
}

.slot-button {
  display: block;
  position: absolute;
  top: 33%;
  left: 11%;
  height: 150px;
  width: 200px;
  background-color: #B4656F;
  font-size: 25px;
  font-family: Helvetica;
  cursor: pointer;
}